<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO8Z2ikWJG5vjZ5dW8IHFHJs4zspyTSX8</string>
	<key>GCM_SENDER_ID</key>
	<string>699085319375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agriTonaton</string>
	<key>PROJECT_ID</key>
	<string>agri-tonaton</string>
	<key>STORAGE_BUCKET</key>
	<string>agri-tonaton.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699085319375:ios:6609b9d3d2909a4146dbba</string>
</dict>
</plist>